.trans-forward-appear {
  transform: translate(0, 0);
  &.trans-forward-appear-active {
    transform: translate(0, 0);
  }
}
.trans-forward-enter {
  transform: translate(1000px, 0);
	opacity: 0;
  &.trans-forward-enter-active {
    transition: all 0.5s ease-out;
		opacity: 1;
    transform: translate(0, 0);
  }
}
.trans-forward-leave {
	position: absolute;
	top: 0;
  transform: translate(0, 0);
	opacity: 1;
  &.trans-forward-leave-active {
    transition: all 0.5s ease-out;
		opacity: 0;
    transform: translate(-1000px, 0);
  }
}
.trans-backward-enter {
  transform: translate(-1000px, 0);
	opacity: 0;
  &.trans-backward-enter-active {
    transition: all 0.5s ease-out;
		opacity: 1;
    transform: translate(0, 0);
  }
}
.trans-backward-leave {
	position: absolute;
	top: 0;
	opacity: 1;
  transform: translate(0, 0);
  &.trans-backward-leave-active {
    transition: all 0.5s ease-out;
		opacity: 0;
    transform: translate(1000px, 0);
  }
}
