doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="/assets/css/common.css")
		title bacoDev-static
	body
		.l-wrapper
			main(role="main")
				.l-main
					include /_layouts/_header
					include /_pages/_home
